@theme {
    --page-font: "Roboto";
    --title-font-secondary: 'Itim', cursive;
    --title-font-primary: "Montserrat", sans-serif;
}

@theme inline {
    --font-page: var(--page-font);
    --font-title-primary: var(--title-font-primary);
    --font-title-secondary: var(--title-font-secondary);
}